@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Mono:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  cursor: none;
}

::-webkit-scrollbar {
  width: 0px;
}

.app-cursor {
  position: fixed;
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
  border: 3px solid #ea580c;
  border-radius: 100%;
  /* transform: translate(-50%, -50%); */
  /* -webkit-transition-duration: 100ms;
  transition-duration: 100ms; */
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  will-change: width, height, transform, border;
  z-index: 999;
  pointer-events: none;
}
